<div ng-controller="barterDashboardCtrl">
    <div class="container">
        <h1 class="text-center" ng-bind="result.get('barterTitle')"></h1>
        <div class="row">
            <div class="col-md-6">
                <h3>Offer Milestones</h3>
                <div class="well" style="
    height: 200px;
    overflow-y: scroll;
">
                    <ul>
                        <li ng-repeat="o in offerMilestones">
                            <input type="checkbox" ng-disabled="o.checked" ng-click="check(o,'offerMilestones')">
                            {{o.task}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Seek Milestones</h3>
                <div class="well" style="
    height: 200px;
    overflow-y: scroll;
">
                    <ul>
                        <li ng-repeat="o in barterUpMilestones">
                            <input type="checkbox" ng-disabled="o.checked" ng-click="check(o,'barterUpMilestones')">
                            {{o.task}}
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row margin-bottom20 margin-top20">
            <div class="col-md-12 offwhite">
                <div class="chatbox well" style="
    height: 300px;
    overflow-y: scroll;
">
                    <p ng-repeat="m in messages"><a href=".#/profile/{{m.get('user').id}}"
                                                    class="{{m.get('user').id==userId?'text-danger':'text-primary'}}">{{m.get('user').get('username')}}:</a>
                        {{m.get('message')}}</p>
                </div>
                <form role="form">
                    <input type="text" class="form-control" ng-model="message" placeholder="Enter message">
                    <button ng-click="sendMessage()" class="btn btn-block btn-info">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>