<div ng-controller="barterCtrl">
    <section id="content-3-3" class="content-block-nopad content-3-3"
             style="background-image:url('images/slider/books-1163695.jpg');">
        <div class="overlay overlay-blue">
            <div class="container text-center">
                <h1 class="page-title" ng-bind="result.get('barterTitle')"></h1>
                <div class="col-md-4 margin-top20 text-center margin-bottom20 col-xs-offset-4">
                    <i class="fa fa-{{result.get('seekCategory').get('icon')}} fa-3x offer-icon white"></i>
                    <i class="fa fa-arrows-h fa-2x offer-icon white"></i>
                    <i class="fa fa-{{result.get('offerCategory').get('icon')}} fa-3x offer-icon white"></i>
                </div>
            </div>
            <!-- /.container -->
        </div>
    </section>
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="bg-white column-shadow div-inside text-center">
                    <h3 class="text-info">Barter Creator</h3>
                    <a href=".#/profile/{{result.get('user').id}}" class="username-link"
                       ng-bind="result.get('user').get('username')"></a>
                    <img src="{{(result.get('user').get('pic'))?result.get('user').get('pic').url():'images/project-1.jpg'}}"
                         class="img-responsive center-block barter-creator-img"/>
                </div>
            </div>
            <div class="col-md-9">
                <div class="bg-white column-shadow div-inside">
                    <h3 class="text-info">Short Description</h3>
                    <p ng-bind="result.get('barterDescription')"></p>
                    <h4 class="text-danger"
                        ng-bind="'Deadline [ Offer: '+result.get('offerDeadline')+' | Seek: '+result.get('seekDeadline')+']'">
                        Deadline</h4>
                    <button type="button" class="btn btn-success btn-lg btn-block" ng-hide="sameAccount()||bartered()"
                            data-target="#barterup" data-toggle="modal">BARTER UP
                    </button>
                    <button type="button" class="btn btn-info btn-lg btn-block disabled"
                            ng-hide="sameAccount()||!bartered()">BARTERED
                    </button>
                    <!--TODO<button type="button" class="btn btn-danger btn-sm" ng-hide="sameAccount()">Report barter</button>-->
                    <button type="button" class="btn btn-danger btn-sm" ng-show="sameAccount()" ng-click="disable()"
                            ng-hide="!sameAccount()||result.get('state')=='disabled'">Disable
                    </button>

                </div>
                <td class="clearfix"></td>
            </div>
        </div>
        <div class="row seek-offer-page-content">
            <div class="col-md-6">
                <div class="column-shadow div-inside bg-deepocean white">
                    <h3>I Offer</h3>
                    <p class="white">{{result.get('offerDescription')}}</p>
                    <h3>Sample</h3>
                    <a href="#" class="thumbnail">
                        <img src="{{result.get('offerSampleImage').url()}}" alt="">
                    </a>
                    <h3>Sample Links</h3>
                    <a class="white" href="{{result.get('offerSampleLink')}}">{{result.get('offerSampleLink')}}</a>

                </div>
            </div>
            <div class="col-md-6 text-primary">
                <div class="column-shadow div-inside bg-white">
                    <h3>I Seek</h3>
                    <p class="deepocean">{{result.get('seekDescription')}}</p>
                    <h3>Sample</h3>
                    <a href="#" class="thumbnail">
                        <img src="{{result.get('seekSampleImage').url()}}" alt="">
                    </a>
                    <h3>Sample Links</h3>
                    <a href="{{result.get('seekSampleLink')}}">{{result.get('seekSampleLink')}}</a>

                </div>
            </div>
        </div>
        <div class="row table-barter">
            <table class="table table-hover table-condensed table-bg">
                <thead class="table-head">
                <tr class="table-head">
                    <th><p class="table-head-p">
                        Created By</p></th>
                    <th><p class="table-head-p">Barters</p></th>
                    <th><p class="table-head-p">Deadline</p></th>
                    <th ng-show="sameAccount()"><p class="table-head-p">Action</p></th>
                    <p class="table-head-p">Deadline</p>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="sameAccount()&&result.get('barterUpUser')">
                    <td class="text-center table-user-img">
                        <img src="images/project-1.jpg" class="img-responsive center-block barter-creator-img"/>
                    </td>
                    <td>
                        <a href=".#/profile/{{result.get('barterUpUser').id}}" class="username-link">{{result.get('barterUpUser').get('username')}}</a>
                    </td>
                    <td>{{result.get('barterUpDeadline')}}</td>
                    <td class="table-action">
                        <button type="button" class="btn btn-info"
                                ng-click="showMilestones(result.get('barterUpMilestone'))">
                            MileStones
                        </button>
                        <button type="button" class="btn btn-info disabled">BARTERED
                        </button>
                    </td>
                </tr>

                <tr ng-repeat="request in result.get('barterRequests')">
                    <td class="text-center table-user-img">
                        <img src="images/project-1.jpg" class="img-responsive center-block barter-creator-img"/>
                    </td>
                    <td>
                        <a href=".#/profile/{{request.user}}" class="username-link">{{request.username}}</a>
                    </td>
                    <td>{{request.deadline}}</td>
                    <td class="table-action" ng-show="sameAccount()&&!result.get('barterUpUser')">
                        <button type="button" class="btn btn-info" ng-click="showMilestones(request.milestone)">
                            MileStones
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="barterUpOwner(request)">Barter
                            up
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade pg-show-modal" id="barterup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Barter Up</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="formInput1954">Deadline (the time you sayy you gonna produce
                            your
                            offer
                            )
                        </label>
                        <input type="number" class="form-control" id="formInput1954"
                               ng-model="deadline">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="formInput256">What are your milestones to create what you
                            offer?
                            (what
                            are the steps you will follow to build your offer) separate between every milestone with a
                            comma
                        </label>
                        <textarea class="form-control" rows="3" id="formInput256" ng-model="milestone"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" ng-click="barterUpRequest()" data-dismiss="modal">
                        Barter up!
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>