<div ng-controller="browseCtrl">
    <section id="content-3-3" class="content-block-nopad content-3-3"
             style="background-image:url('images/slider/books-1163695.jpg');">
        <div class="overlay overlay-blue">
            <div class="container text-center">
                <h1 class="page-title">Browse all offers and seeks</h1>
                <form role="form" class="form-horizontal">
                    <div class="text-left">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label header-form-label">I Offer</label>
                                <select class="form-control" ng-model="offerCat">
                                    <option value="all" selected>All Offers</option>
                                    <option ng-repeat="cat in categories" value="{{cat.id}}">{{cat.get('name')}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 search-col">
                            <div class="form-group">
                                <label class="control-label header-form-label">I Seek</label>
                                <select id="formInput206" class="form-control"
                                        ng-model="seekCat">
                                    <option value="all" selected>All Seeks</option>
                                    <option ng-repeat="cat in categories" value="{{cat.id}}">{{cat.get('name')}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <label class="control-label header-form-label">Search</label>
                        <input type="text" class="form-control" id="formInput245" placeholder="Placeholder text"
                               ng-model="query">
                        <button type="submit" class="btn pull-right btn-block btn-primary" ng-click="search()">Search
                        </button>
                        <br>
                        <br>
                    </div>
                </form>
            </div>
            <!-- /.container -->
        </div>
    </section>
    <div class="row page-content" ng-show="results.length">
        <div class="col-md-8 pull-left">
            <h1>Search Result</h1>
            <h3>Barter up Media with Website</h3>
        </div>
        <div class="col-md-4 margin-top20 deepocean text-center margin-bottom20">
            <i class="fa fa-edit fa-3x deepocean offer-icon"></i>
            <i class="fa fa-arrows-h fa-2x deepocean offer-icon"></i>
            <i class="fa fa-photo fa-3x deepocean offer-icon"></i>
        </div>
    </div>
    <div class="page-content container-fluid" ng-show="results.length">
        <div class="row">
            <table class="table table-hover table-condensed table-bg">
                <thead class="table-head">
                <tr class="table-head">
                    <th><p class="table-head-p">PROJECT</p></th>
                    <th><p class="table-head-p">Barters</p></th>
                    <th><p class="table-head-p">
                        Created By</p></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="result in results">
                    <td>
                        <a href="./#/barter/{{result.id}}"><h4>{{result.get('barterTitle')}} <span class="badge">{{result.get('state')}}</span>
                        </h4></a>

                        <p>{{result.get('barterDescription')}}</p>
                        <i class="fa fa-{{result.get('seekCategory').get('icon')}} fa-3x deepocean offer-icon icon-table-size"
                           title="{{result.get('seekCategory').get('name')}}"></i>
                        <i class="fa fa-arrows-h fa-2x deepocean offer-icon icon-table-size"></i>
                        <i class="fa fa-{{result.get('offerCategory').get('icon')}} fa-3x deepocean offer-icon icon-table-size"
                           title="{{result.get('offerCategory').get('name')}}"></i>
                    </td>
                    <td>{{(result.get('barterRequests'))?result.get('barterRequests').length:0}}</td>
                    <td>
                        <a href=".#/profile/{{result.get('user').id}}" class="username-link">{{result.get('user').get('username')}}</a>
                        <br/>
                    </td>
                </tr>
                <tr ng-show="showLoadMore">
                    <td colspan="3">
                        <button class="btn btn-default btn-block" ng-click="loadMore()">Load more</button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>

</div>