    <div class="container margin-top30" ng-controller="showProfileCtrl">
        <div class="row">
            <div class="col-md-2">
                <a href="#" class="thumbnail">
                    <img ng-src="{{result.get('pic')?result.get('pic').url():'http://localhost:63342/Enbarter/images/slider/hipster-865295.jpg'}}"
                         alt="">
                </a>
                <p>@{{result.get('username')}}</p>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <h3>Bio</h3>
                    <p>{{result.get('bio')}}</p>
                    <h3>Email</h3>
                    <p>{{result.get('email')}}</p>
                    <h3>Barters</h3>
                    <div ng-repeat="barter in barters" class="row margin-top5 margin-bottom15 text-right offer offer:hover">
                        <div class="col-md-8 text-left">
                            <a href="./#/barter/{{barter.id}}"><h3 class="offer-list-item-h1">{{barter.get('barterTitle')}}</h3></a>
                            <p class="offer-list-item-p">{{barter.get('barterDescription') | limitTo : 100 : 0}}</p>
                        </div>
                        <div class="col-md-4 margin-top20 deepocean text-center margin-bottom20">
                            <i class="fa fa-{{barter.get('seekCategory').get('icon')}} fa-3x deepocean offer-icon"></i>
                            <i class="fa fa-arrows-h fa-2x deepocean offer-icon"></i>
                            <i class="fa fa-{{barter.get('offerCategory').get('icon')}} fa-3x deepocean offer-icon"></i>
                        </div>
                    </div>

                    <h3>Barters Requests</h3>
                    <div ng-repeat="barter in result.get('barterSeeks')" class="row margin-top5 margin-bottom15 text-right offer offer:hover">
                        <div class="col-md-8 text-left">
                            <a href="./#/barter/{{barter.id}}"><h3 class="offer-list-item-h1">{{barter.get('barterTitle')}}</h3></a>
                            <p class="offer-list-item-p">{{barter.get('barterDescription') | limitTo : 100 : 0}}</p>
                        </div>
                        <div class="col-md-4 margin-top20 deepocean text-center margin-bottom20">
                            <i class="fa fa-{{barter.get('seekCategory').get('icon')}} fa-3x deepocean offer-icon"></i>
                            <i class="fa fa-arrows-h fa-2x deepocean offer-icon"></i>
                            <i class="fa fa-{{barter.get('offerCategory').get('icon')}} fa-3x deepocean offer-icon"></i>
                        </div>
                    </div>

                    <h3>Samples of my work</h3>
                    <ul>
                        <li ng-repeat="link in result.get('workLinks')"><a href="{{link}}">{{link}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
