<div ng-controller="editProfileCtrl">
    <div class="container">
        <div class="row">
            <div ng-include="'views/profileWidget.html'"></div>

            <div class="col-md-10">
                <div class="row">
                    <form role="form" name="aForm">
                        <div class="form-group">
                            <label class="control-label" for="bioText">Bio</label>
                            <textarea class="form-control summernote" rows="3" id="bioText" initCode="bio"
                                      insertTagsDisabled></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="formInput397">Date of Birth</label>
                            <input type="date" class="form-control" id="formInput397"
                                   ng-model="birthday">
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <div class="thumbnail">
                                    <img width="128" id="avatarImg"
                                         ng-src="{{result.get('pic')?result.get('pic').url():'./images/avatar.png'}}"
                                         alt="" onclick="$('#exampleInputFile1').click()">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <label class="control-label" for="exampleInputFile1">Upload your
                                    Avatar</label>
                                <input type="file" class="form-control" id="exampleInputFile1"></div>
                        </div>
                        <div class="form-group">
                            <ul>
                                <li ng-repeat="skill in skills">
                                    {{skill}}
                                    <button class="btn-link" ng-click="removeItemFrom(skills,skill)">X</button>
                                </li>
                            </ul>
                            <label class="control-label" for="formInput48">Skills</label>
                            <input type="text" class="form-control" id="formInput48" ng-model="skillItem"
                                   ng-keypress="($event.charCode==13)? skillItem=addItemTo(skills,skillItem) : return">
                            <button class="btn btn-default" ng-click="skillItem=addItemTo(skills,skillItem)">Add Skill
                            </button>
                        </div>
                        <!--TODO<div class="form-group">-->
                        <!--<label class="control-label" for="exampleInputFile">Upload samples of your work ()</label>-->
                        <!--<input type="file" id="exampleInputFile">-->
                        <!--<button ng-click="addItemTo(samples)">Add</button>-->
                        <!--</div>-->
                        <div class="form-group">
                            <ul>
                                <li ng-repeat="link in workLinks"><a href="{{link}}">{{link}}</a>
                                    <button class="btn-link" ng-click="removeItemFrom(workLinks,link)">X</button>
                                </li>
                            </ul>
                            <label class="control-label" for="formInput295">Links to my Work</label>
                            <input type="url" class="form-control" id="formInput295" placeholder="http://example.com"
                                   ng-model="itemLink" name="itemLink"
                                   ng-keypress="($event.charCode==13)? (itemLink=aForm.itemLink.$valid?addItemTo(workLinks,itemLink):itemLink) : return">
                            <button class="btn btn-default"
                                    ng-click="itemLink=aForm.itemLink.$valid?addItemTo(workLinks,itemLink):itemLink">
                                Add Link
                            </button>

                        </div>

                        <div class="form-group">
                            <label class="control-label" for="receiveEmail"><input type="checkbox" id="receiveEmail"
                                                                                   ng-model="sendEmails"> Receive
                                Notifications on email</label>

                        </div>
                        <div class="form-group">
                            <label class="control-label" for="requestsPrivacy"><input type="checkbox"
                                                                                      id="requestsPrivacy"
                                                                                      ng-model="requestsPublic"> Show
                                barter requests on your public profile</label>

                        </div>
                        <button class="btn btn-block btn-default" ng-click="passwordReset(currentUser.get('email'))">
                            Request password reset
                        </button>
                        <button type="submit" class="btn btn-block btn-primary" ng-click="submit()"
                                ng-disabled="cantSubmit">Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'views/textEditor.html'"></div>
