<section class="footer footer-wrap-1-3 bg-deepocean" data-pgc-define="barterfooter"
         data-pgc-define-name="Barter Footer">
    <div class="container footer-1-3">
        <div class="col-md-4 pull-left">
            <img src="logo-white.png" class="brand-img img-responsive">
            <ul class="social social-light">
                <li>
                    <a href="https://facebook.com/enbarter"><i class="fa fa-2x fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/enbarter"><i class="fa fa-2x fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCrzQ9peNiOl-uQfyuIa3QSQ"><i class="fa fa-2x fa-youtube"></i></a>
                </li>
                <!-- /.social -->
            </ul>
        </div>
        <div class="col-md-4 pull-right">
            <p class="white">Enbarter is an online skill-exchange platform, driven
                by the oldest form of doing business: bartering. A barter is
                a system of exchange where goods or services are directly exchanged for
                other goods or services without an intermediary medium of exchange, mainly money.</p>
        </div>
        <div class="col-xs-12 footer-text">
            <p>All Copyrights Reserved</p>
        </div>
    </div>
    <!-- /.container -->
</section>
