<div ng-controller="header">
    <header id="header-1" class="soft-scroll header-1" data-pgc-define="bartermenu" data-pgc-define-name="Barter Menu"
    >
        <!-- Navbar -->
        <nav class="main-nav navbar-fixed-top bg-white">
            <div class="container">
                <!-- Brand and toggle -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bg-black"></span>
                        <span class="icon-bar bg-black"></span>
                        <span class="icon-bar bg-black"></span>
                    </button>
                    <a href="{{homeLink}}">
                        <img src="logo-blue.png" class="brand-img img-responsive pad-bottom0 margin-top5">
                    </a>
                </div>
                <!-- Navigation -->
                <div class="collapse navbar-collapse" id="nav1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a href="{{homeLink}}" class="deepocean">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{browseLink}}" class="deepocean">browse</a>
                        </li>
                        <li class="nav-item">
                            <a href="/prices" class="deepocean">Prices</a>
                        </li>
                        <li class="nav-item dropdown" ng-show="isLoggedIn()">
                            <a id="dontClose" class="deepocean dropdown-toggle" data-toggle="dropdown"
                               data-hover="dropdown"
                               data-delay="0" data-close-others="false"><i class="glyphicon glyphicon-bell"
                                                                           aria-hidden="true"></i>
                                <span
                                        class="badge">{{(nCount>=10)?"10+":nCount}}</span></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="result in notifications"
                                    class="noMargin {{!result.get('read')?'bg-black':''}}"><a
                                        ng-click="notificationCheck(result)">{{result.get('description')}}</a>
                                </li>
                                <li class="divider" style="margin-top: 0px"></li>
                                <li class=""><a
                                        href="/notifications">More Notifications</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item" ng-if="!isLoggedIn()">
                            <button id="signButton" class="btn btn-info pull-right" type="button" data-target="#sign"
                                    data-toggle="modal" ng-click="initFBLogin()">Login /
                                Sign up
                            </button>
                        </li>
                        <li class="nav-item dropdown " ng-if="isLoggedIn()">
                            <a class="deepocean dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog"></span> 
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu bg-white">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <span class="thumbnail" style="margin-bottom: 0px;">
                                                    <img ng-src="{{currentUser.get('pic')?currentUser.get('pic').url():'./images/avatar.png'}}"
                                                         alt="">
                                                </span>
                                            </div>
                                            <div class="col-lg-7 text-center">
                                                <p class="text-left text-center"><strong>{{currentUser.get('username') |
                                                    limitTo :
                                                    20}}</strong>
                                                </p>
                                                <a class="deepocean bg-white-hover clouds-hover"
                                                   href="/profile/{{currentUser.id}}"
                                                   style="padding: 0px 5px">Profile</a>
                                                <small>|</small>
                                                <a
                                                        class="deepocean bg-white-hover clouds-hover"
                                                        href="/profile/edit"
                                                        style="padding: 0px 5px">Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="row">
                                        <div class="col-lg-11 text-center">
                                            <a href="/create_barter" class="deepocean bg-white-hover clouds-hover"
                                               style="padding: 0px 5px">Create
                                                Barter</a>
                                            <small>|</small>
                                            <a href="/dashboard" class="deepocean bg-white-hover clouds-hover"
                                               style="padding: 0px 5px">dashboard</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <a ng-click="logout()" class="btn-block btn-danger">LOGOUT</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!--//nav-->
                </div>
                <!--// End Navigation -->
            </div>
            <!--// End Container -->
        </nav>
        <!--// End Navbar -->
    </header>

    <div class="modal fade pg-show-modal" id="sign" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" ng-hide="isLoggedIn()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Login / Sign up</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label class="control-label" for="exampleInputEmail1">Username</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter username"
                                   ng-model="username">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                   placeholder="Password"
                                   ng-model="password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="passwordReset()" data-dismiss="modal">
                        Password
                        Reset
                    </button>
                    <button type="button" class="btn btn-info" ng-click="fbLogin()" data-dismiss="modal"><span
                            class="">fb</span> Login
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" data-target="#signup"
                            data-toggle="modal">Signup
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="login()" data-dismiss="modal">Login</button>
                </div>
            </div>

            <div class="modal-content" ng-show="isLoggedIn()">
                <div class="modal-footer">
                    <button class="btn btn-danger btn-block pull-right" type="button"
                            ng-click="logout()" ng-show="isLoggedIn()">Logout
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade pg-show-modal" id="signup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" ng-hide="isLoggedIn()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Login / Sign up</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label class="control-label" for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" placeholder="Enter Email"
                                   ng-model="email">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="exampleInputEmail1">Username</label>
                            <input type="text" class="form-control" placeholder="Enter username"
                                   ng-model="username">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control"
                                   placeholder="Password"
                                   ng-model="password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="passwordReset()" data-dismiss="modal">
                        Password
                        Reset
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="signup()" data-dismiss="modal">Signup
                    </button>
                </div>
            </div>

            <div class="modal-content" ng-show="isLoggedIn()">
                <div class="modal-footer">
                    <button class="btn btn-danger btn-block pull-right" type="button"
                            ng-click="logout()" ng-show="isLoggedIn()">Logout
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade pg-show-modal" id="alertModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Alert</h4>
                </div>
                <div class="modal-footer">
                    <p class="text-left">{{alertMessage}}</p>
                </div>
            </div>
        </div>
    </div>
</div>