<div class="container margin-top30" ng-controller="messagesCtrl">
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-10 ">
            <div class="chatbox well" style="height: 300px;overflow-y: scroll;" id="messageBox">
                <p ng-repeat="m in messages" on-finish-render="ngRepeatFinished"><a
                        href="/profile/{{m.get('user').id}}"
                        class="{{m.get('user').id==userId?'text-danger':'text-primary'}}">{{m.get('user').get('username')}}:</a>
                <div ng-bind-html="m.get('message')"></div>
                </p>
            </div>
            <form role="form" ng-submit="sendMessage()">
                <textarea class="form-control summernote" rows="3" id="message"></textarea>
                <button class="btn btn-block btn-info" ng-disabled="cantSend">
                    Send!
                </button>
            </form>
        </div>
    </div>

    <div ng-include="'views/textEditor.html'"></div>
</div>
