<div class="container margin-top30" ng-controller="messagesCtrl">
    <div class="row">
        <div class="col-sm-2">
            <ul class="list-group">
                <a ng-repeat="aThread in threads" on-finish-render="ngRepeatFinished"
                   class="list-group-item {{thread.id==aThread.id?'bg-clouds':''}} break-word"
                   href="/messages/{{aThread.get('user').id==currentUser.id?aThread.get('to').id:aThread.get('user').id}}">
                    <strong>{{aThread.get('user').id==currentUser.id?aThread.get('to').get('username'):aThread.get('user').get('username')}}</strong><br>
                    <i>{{aThread.get('lastMessage')}}</i>
                </a>
            </ul>
        </div>
        <div class="col-sm-10 " ng-show="threads.length">
            <h3 class="text-center">
                <a href="/profile/{{thread.get('user').id==userId?thread.get('to').id:thread.get('user').id}}">{{thread.get('user').id==userId?thread.get('to').get('username'):thread.get('user').get('username')}}</a>
            </h3>
            <div class="chatbox well" style="height: 300px;overflow-y: scroll;" id="messageBox">
                <div ng-repeat="m in messages" on-finish-render="ngRepeatFinished">
                    <a href="/profile/{{m.get('user').id}}"
                       class="{{m.get('user').id==userId?'text-danger':'text-primary'}}">{{m.get('user').get('username')}}:</a>
                    <div ng-bind-html="m.get('message')"></div>
                </div>
            </div>
            <form role="form" ng-submit="sendMessage()">
                <textarea class="form-control summernote" rows="3" id="message"></textarea>
                <button class="btn btn-block btn-info" ng-disabled="cantSend">
                    Send!
                </button>
            </form>
        </div>
        <div class="col-sm-10 " ng-hide="threads.length">
            <div class="min-height-400px promo-2 text-center content-block">
                <br><br>
                <h1 class="black">Nothing to show!</h1>
            </div>
        </div>
    </div>

    <div ng-include="'views/textEditor.html'"></div>
</div>
