<div class="container margin-top30" ng-controller="notificationsCtrl">
    <div class="row">
        <div ng-include="'views/profileWidget.html'"></div>

        <div class="col-md-10">
            <h1 class="page-title text-center">Notification</h1>

            <div>
                <ul class="list-group">
                    <li ng-repeat="result in results" class="list-group-item {{!result.get('read')?'active':''}}"><a
                            ng-click="notificationCheck(result)" style="{{(!result.get('read'))?'color:white':''}}">{{result.get('description')}}</a>
                </ul>
            </div>
        </div>
    </div>
</div>