<div ng-controller="pricesCtrl">
    <section class="content-block pricing-table-2 bg-clouds" data-pg-collapsed>
        <div class="container">
            <div class="underlined-title">
                <h1>Membership Prices</h1>
                <hr>
            </div>
            <div class="row">
                <div class="tables-row">
                    <div class="col-md-4 price-block">
                        <div class=""></div>
                        <header>
                            <h2>Basic</h2>
                            <div class="price">
                                <span class="currency">$</span>
                                <span class="amount">0</span>
                                <span class="period">/ Mo</span>
                            </div>
                            <!-- /.price -->
                            <a href="/create_barter" ng-show="isLoggedIn()"
                               class="btn btn-success">Start a Barter</a>
                            <a data-target="#sign"
                               data-toggle="modal" ng-hide="isLoggedIn()"
                               class="btn btn-success" ng-click="initFBLogin()">Register now!</a>
                        </header>
                        <ul class="features">
                            <li>
                                <i class="fa fa-file-o"></i> 3 Units a month
                            </li>
                            <li>
                                <i class="fa fa-cloud-upload"></i> 3 Active barters limit
                            </li>
                        </ul>
                        <!-- /.features -->
                    </div>
                    <!-- /.price-block -->
                    <div class="col-md-4 price-block">
                        <div class="ribbon new"></div>
                        <header>
                            <h2>{{premuim.get('name')}}</h2>
                            <div class="price">
                                <span class="currency">$</span>
                                <span class="amount">{{premuim.get('price')}}</span>
                                <span class="period">/ Mo</span>
                            </div>
                            <!-- /.price -->
                            <a ng-click="buyNow(premuim)"
                               ng-show="isLoggedIn()&&user.get('membership').id!=premuim.id"
                               class="btn btn-success">Buy Now!</a>
                            <a data-target="#sign"
                               data-toggle="modal" ng-hide="isLoggedIn()"
                               class="btn btn-success" ng-click="initFBLogin()">Register Now!</a>
                            <a ng-href="{{user.get('paymentInfo').get('receipt_url')}}"
                               ng-show="isLoggedIn()&&user.get('membership').id==premuim.id&&user.get('paymentInfo').get('receipt_url')"
                               class="btn btn-default" target="_blank">Receipt</a>
                            <a ng-href="{{user.get('paymentInfo').get('update_url')}}"
                               ng-show="isLoggedIn()&&user.get('membership').id==premuim.id&&user.get('paymentInfo').get('update_url')"
                               class="btn btn-success" target="_blank">Update</a>
                            <a ng-href="{{user.get('paymentInfo').get('cancel_url')}}"
                               ng-show="isLoggedIn()&&user.get('membership').id==premuim.id&&user.get('paymentInfo').get('cancel_url')"
                               class="btn btn-danger" target="_blank">Cancel</a>
                        </header>
                        <ul class="features">
                            <li>
                                <i class="fa fa-file-o"></i> {{premuim.get('trial')}} Day Free Trial
                            </li>
                            <li>
                                <i class="fa fa-file-o"></i> {{premuim.get('monthlyUnits')}} Units a month
                            </li>
                            <li>
                                <i class="fa fa-cloud-upload"></i> {{premuim.get('activeLimit')}} Active barters limit
                            </li>
                        </ul>
                        <!-- /.features -->
                    </div>
                    <!-- /.price-block -->
                    <div class="col-md-4 price-block">
                        <div class=""></div>
                        <header>
                            <h2>Premium</h2>
                            <div class="price">
                                <span class="currency">$</span>
                                <span class="amount">??</span>
                                <span class="period">/ Mo</span>
                            </div>
                            <!-- /.price -->
                            <button type="button" class="btn btn-primary" disabled>Coming Soon!</button>
                        </header>
                        <ul class="features">
                            <li>
                                <i class="fa fa-file-o"></i> 18 Units a month
                            </li>
                            <li>
                                <i class="fa fa-cloud-upload"></i> 18 Active barters limit
                            </li>
                            <li>
                                <i class="fa fa-cloud-upload"></i> More ...
                            </li>
                        </ul>
                        <!-- /.features -->
                    </div>
                    <!-- /.price-block -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
</div>