<div class="col-md-2">
    <a href="/profile/{{result.id}}" class="thumbnail">
        <img ng-src="{{result.get('pic')?result.get('pic').url():'./images/avatar.png'}}"
             alt="">
    </a>
    <p class="thumbnail break-word">{{result.get('username')}}</p>
    <ul class="list-group">
        <a href="/prices" class="list-group-item" ng-show="result.get('membership')">{{result.get('membership').get('name')}}
            <span class="badge"><span
                    class="glyphicon glyphicon-{{result.get('membership').get('icon')}}"></span></span></a>
        <a class="list-group-item">Ratings <span class="badge">{{(result.get('rateCount'))?(result.get('rate')/result.get('rateCount')| number:1):'5'}}</span></a>
        <a ng-show="userId==result.id" class="list-group-item" href="/notifications">Notifications<span
                class="badge">{{(nCount>=10)?"10+":nCount}}</span></a>
        <a class="list-group-item">Completed<br>Barters<span
                class="badge">{{(completedBarters>=25)?"25+":completedBarters}}</span></a>
        <a ng-show="userId==result.id" class="list-group-item" href="/profile/edit">Edit Profile</a>
        <a ng-show="userId&&userId!=result.id" class="list-group-item" href="/messages/{{result.id}}">Send Message</a>
        <a data-target="#sign" data-toggle="modal" ng-hide="isLoggedIn()" ng-click="initFBLogin()"
           class="list-group-item">Send Message</a>
    </ul>
</div>
