<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">

<script>
    showSpinner();
    $.ajax({
        type: "GET",
        url: "https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js",
        success: function () {
            var charCount = function (context) {
                var ui = $.summernote.ui;
                var button = ui.button({
                    contents: '<i id="charCount">#0</i>',
                    tooltip: 'Character Count'
                });
                return button.render();
            }
            var $summernote = $('.summernote');
            for (var i = 0; i < $summernote.length; i++) {
                $($summernote[i]).summernote({
                    toolbar: [
                        ['style', ['bold', 'italic', 'underline', 'clear']],
                        ['font', ['strikethrough', 'superscript', 'subscript']],
                        ['insert', $('.summernote')[0].attributes.insertTagsDisabled || ['link', 'picture', 'hr']],
                        ['undo', ['undo', 'redo']], ['fullscreen', ['fullscreen']], ['CharacterCount', ['charCount']]

                    ], shortcuts: false, disableDragAndDrop: true, buttons: {
                        charCount: charCount
                    },
                    height: 200, placeholder: 'write here...',
                    callbacks: {
                        onKeydown: function (e) {
                            var num = e.currentTarget.innerText.replace(/(<([^>]+)>)/ig, "").length;
                            $('#charCount').text('#' + num);
                            var key = e.keyCode;
                            allowed_keys = [8, 37, 38, 39, 40, 46]
                            if (num > 1000 && $.inArray(key, allowed_keys) == -1) {
                                e.preventDefault();
                                e.stopPropagation()
                                $('#charCount').text("Exceeding the allowed character limit");
                            }
                        }, onPaste: function (e) {
                            e.preventDefault();
                            e.stopPropagation()

                            var num = e.currentTarget.innerText.replace(/(<([^>]+)>)/ig, "").length;
                            var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
                            num += bufferText.replace(/(<([^>]+)>)/ig, "").length;
                            console.log(num);
                            if (num < 1000) {
                                document.execCommand('insertText', false, bufferText);
                                $('#charCount').text('#' + num);
                            } else {
                                $('#charCount').text("Paste content exceeding the allowed character limit");
                            }
                        },
                        onInit: function () {
                            setTimeout(function () {
                                for (var j = 0; j < $('.summernote').length; j++) {
                                    var initCode = $($('.summernote')[j]).attr("initCode");
                                    if (initCode)
                                        $($('.summernote')[j]).summernote('code', angular.element($('.summernote')).scope()[initCode]);
                                }
                                hideSpinner();
                            }, 1000);
                        }
                    }
                });
            }
        },
        dataType: "script",
        cache: true
    });

</script>

<style>
    .note-btn.btn {
        margin: 5px 0px;
    }
</style>