<div class="container margin-top30" ng-controller="viewDashboardCtrl">
    <div class="row">
        <div ng-include="'views/profileWidget.html'"></div>

        <div style="padding-left: 30px;" class="col-md-8 ">
            <div class="row">
                <h3>Dashboard</h3>
                <h3 ng-show="!barters.length">Nothing to show!</h3>
                <div ng-repeat="barter in barters"
                     class="row margin-top5 margin-bottom15 text-right offer-profile offer:hover"
                     ng-show="dashboardActive(barter)">
                    <div class="col-md-8 text-left">
                        <a href="/dashboard/barter/{{barter.id}}"><h3
                                class="offer-list-item-h1">
                            {{barter.get('barterTitle')}} <span class="badge">{{barter.get('state')}}</span></h3></a>
                        <p class="offer-list-item-p">{{barter.get('barterDescription') | limitTo : 100 : 0}}</p>
                    </div>
                    <div class="col-md-4 margin-top20 deepocean text-center margin-bottom20">
                        <i class="glyphicon glyphicon-{{barter.get('seekCategory').get('icon')}} fa-2x deepocean offer-icon"
                           title="{{barter.get('seekCategory').get('name')}}"></i>
                        <i class="glyphicon glyphicon-transfer fa-2x deepocean offer-icon"></i>
                        <i class="glyphicon glyphicon-{{barter.get('offerCategory').get('icon')}} fa-2x deepocean offer-icon"
                           title="{{barter.get('offerCategory').get('name')}}"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
